*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    margin: 0;
    overflow-x: hidden;
}
#first{
    height: 100vh;
    background-image: url(images/bg.svg);
    background-size: cover;
}
.heading-text{
    margin: 10% 0 0 10%;

}
.login{
    margin-left: 10px;
    padding: 0 10px 0 10px;
}
.heading-text h1{
    color: #fff;
    font-size: 3.5rem;
    font-weight: bold;
}
.heading-text h3{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.counter-container{
    margin: 0 0 0 10%;
}
.counter-container .col{
    padding-left: 0;
}
.counter{
    text-align: left;
}
.counter-row{
    width: fit-content;
}
.counter-heading{
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
}
.counter-img{
    width: 200px;
}
.arrow-nha-container{
    display: flex;
    height: fit-content;
}
/* .arrow{
    margin: 0 auto 0 auto;
    width: fit-content;
}
.arrow img{
    width: 50px;
} */
@-webkit-keyframes uparrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(-0.4em); opacity: 0.9 }
  }
  @-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4 }
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
  }
  
  .container-arrow {
    /* top:0; */
    /* bottom:0; */
    /* left:0;
    right:0; */
    /* position:absolute; */
    width: fit-content;
    height: fit-content;
    margin: 5% auto 5% auto;
  }
  .arrow {
    border-color:transparent;
    border-style:solid;
    border-width:0 2em;
    display:block;
    height:0;
    margin:10px auto;
    opacity:0.4;
    text-indent:-9999px;
    transform-origin: 50% 50%;
    width:0;
  }
  .down {
    -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
    border-top:2em solid #fff;
  }
  
.nha-pic{
    width: 200px;
    margin:auto 0 5% auto;
}
.nha-pic img{
    width: 200px;
}


/* ============== Section 2 ==================== */
#second{
    
    background-color: #B8FFF9;
    background-image: url(images/second-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
   
}
.second-container{
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 5%;
    text-align: center;
}
.second-container h2{
    font-size: 3rem;
    color: #00C4CC ;
}
.second-text{
    font-size: 1.2rem;
    padding: 2% 0 0 0;
}
.second-text-list-head{
    text-align: left;
    font-weight: bold;

}
.second-text-list{
    text-align: left;
}

/* ================= Section 3 ================== */
#footer{
    background-color: #00C4CC;
    height: fit-content;
}
.container{
    padding: 15px;
}
.container-inside{
    justify-content: space-around !important;
}
.footer-heading{
    color: #fff;
}
.footer-ln-pic{
    width: 1rem;
}
.copyright{
    text-align: center;
    font-weight: bold;
}



