*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    margin: 0;
    overflow-x: hidden;
}
#first{
    height: 100vh;
    background-image: url(images/bg.svg);
    background-size: cover;
}
.navbar-css-container{
    padding: 0;
}
.navbar-css{
    background-color: #00C4CC; 
}
.logo-1{
    height: 50px;
}
.user-icon{
    height: 50px;
}
.heading-text{
    margin: 10% 0 0 10%;

}
.login{
    padding: 0 10px 0 10px;
}
.heading-text h1{
    color: #fff;
    font-size: 3.5rem;
    font-weight: bold;
}
.heading-text h3{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.nha-pic{
    width: 200px;
    margin:auto 10% 10% auto;
}
.nha-pic img{
    width: 200px;
}
.counter-container{
    margin: 0 0 0 10%;
}
.counter-container .col{
    padding-left: 0;
}
.counter{
    text-align: left;
}
.counter-row{
    width: fit-content;
}
.counter-heading{
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
}
.counter-img{
    width: 200px;
}

/* ============== Section 2 ==================== */
#second{
    /* background-color: #EFFFFD; */
    background-color: #B8FFF9;
    /* background-color: #85F4FF; */
    /* background-color: #42C2FF; */
   
}
.second-container{
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 5%;
    text-align: center;
}
.second-container h2{
    font-size: 3rem;
    color: #00C4CC ;
}
.second-text{
    font-size: 1rem;
    padding: 2% 0 0 0;
}

/* ================= Section 3 ================== */
#footer{
    background-color: #00C4CC;
    height: fit-content;
}
.container{
    padding: 15px;
}
.container-inside{
    justify-content: space-around !important;
}
.footer-heading{
    color: #fff;
}
.footer-ln-pic{
    width: 1rem;
}
.copyright{
    text-align: center;
    font-weight: bold;
}