body{
    margin: 0;
}

#main {
    background: #42C2FF;
}
#first {
  position: relative;
  background: #85F4FF;
  height: 80vh;
  border-bottom-left-radius: 50% 19%;
  border-bottom-right-radius: 50% 19%;
}
#second {
    height: 50vh;
    background: #42C2FF;
}
#third {
    position: relative;
    background: #85F4FF;
    height: 80vh;
    border-top-left-radius: 50% 19%;
    border-top-right-radius: 50% 19%;
  }
  
  